body{
    background: url("../image/background.png");
}

.navbar-div{
    position: absolute;
    margin-left: 30%;
    gap: 150px;
    margin-top: 5%;
}

.services-navbar{
    position: absolute;
    margin-top: 20%;
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -0.03em;
    color: #012169;
    margin-left: -25%;
}

.oauth{
    margin-top: 50%;
    margin-left: -25%;
}

.what-we-do{
    margin-top: 35%;
    margin-left: -25%;
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #808080;
}

.man-image{
    position: absolute;
    width: 712px;
    height: 715px;
    margin-left: 30%;
    margin-top: 10%;
}

.monie{
    position: absolute;
    margin-left: -22%;
    margin-top: -10px;
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.02em;
}

.home{
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #009CDE;
}

.other-nav{
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background: transparent;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #002433;
}

.over-head-image{
    margin-top: 7%;
    margin-left: 53%;
}

.holder{
    margin-left: 70%;
    margin-top: 20%;
    width: 365px;
    height: 159px;
    background: linear-gradient(260.83deg, rgba(255, 255, 255, 0.5) -25.74%, rgba(255, 255, 255, 0.5) 108.94%);
    backdrop-filter: blur(20px);
    border-radius: 12px;
}

.holder1{
    margin-left: 20%;
    margin-top: 50%;
    width: 365px;
    height: 159px;
    background: linear-gradient(260.83deg, rgba(255, 255, 255, 0.5) -25.74%, rgba(255, 255, 255, 0.5) 108.94%);
    backdrop-filter: blur(20px);
    border-radius: 12px;
}

.holder2{
    margin-left: 90%;
    margin-top: 60%;
    width: 365px;
    height: 159px;
    background: linear-gradient(260.83deg, rgba(255, 255, 255, 0.5) -25.74%, rgba(255, 255, 255, 0.5) 108.94%);
    backdrop-filter: blur(20px);
    border-radius: 12px;
}

.first-header{
    margin-top: 10%;
    margin-left: 25%;
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.03em;
    color: #012169;
}

.image-{
    margin-left: 21%;
    margin-top: -42px;
}

.woman-with-a-bag{
    margin-left: 40%;
    margin-top: -45%;
}

.digital-banking{
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: -0.03em;
    color: #002433;
    margin-left: 65%;
    margin-top: 25px;
}

.imageright{
    margin-left: 61%;
    margin-top: -1.5%;
}

.imagerunderight{
    margin-left: 61.3%;
    margin-top: -42px;
}

.left-service-name-second-line{
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-left: 65%;
    margin-top: 12px;
    line-height: 48px;
    letter-spacing: -0.03em;
    color: #002433;
}

.blueBox1{
    margin-left: 65%;
    margin-top: 1px;
}

.light-green{
    margin-left: 65%;
    margin-top: -26.6%;
}

.blueBox{
    margin-left: 25%;
}

.another-service{
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: -0.03em;
    color: #002433;
    margin-left: 25%;
    margin-top: 12px;
}

.service-name{
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: -0.03em;
    color: #002433;
    margin-left: 25%;
    margin-top: 12px;
}

.greenBox{
    margin-left: 25%;
}

.agency{
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: -0.03em;
    color: #002433;
    margin-left: 25%;
    margin-top: 50px;
}

.network{
    text-transform: uppercase;
    margin-left: 35%;
    margin-top: -25%;
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.12em;
    color: #808080;
}

.excellent{
    margin-top: 32px;
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-left: 35%;
    letter-spacing: -0.02em;
    color: #002433;
}

.when-you{
    margin-top: 12px;
    margin-left: 35%;
}

.performance{
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-top: 2px;
    margin-left: 35%;
    letter-spacing: -0.02em;
    color: #002433;
}

.network-image{
    margin-top: 12%;
}

.third-section{
    position: absolute;
    margin-top: 94.9%;
    width: 100%;
    height: 500%;
}

.our{
    margin-top: -40%;
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.12em;
    color: #808080;
    text-transform: uppercase;
}

.seamless{
    margin-top: 20px;
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: -0.02em;
    color: #002433;
}

.great{
    margin-top: 20px;
    margin-left: 40%;
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.02em;
    color: #002433;
}

.as-a-bank{
    margin-left: 40%;
    margin-top: 22px;
}

.care{
    margin-left: 40%;
    font-family: 'Gelion',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.02em;
    color: #002433;
}

.availability{
    text-transform: uppercase;
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.12em;
    color: #808080;
    margin-left: 40%;
    margin-top: -35%;
}

.image-settlement{
    margin-top: 20px;
}

.calling-man{
    margin-top: 35%;
}

.settlement{
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: -0.02em;
    color: #002433;
}

.pos{
    margin-left: 30%;
    margin-top: -30%;
}

.pos1{
    margin-left: 30%;
    margin-top: 20%;
}


.we-give{
    margin-top: 52px;
}

.why{
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.03em;
    color: #012169;
}

.with{
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.03em;
    color: #012169;
}

.fourth-section{
    margin-left: 25%;
}

.our-agents{
    margin-top: 15%;
    font-family: 'Gelion',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.12em;
    color: #808080;
    text-transform: uppercase;
}

.fiar{
    margin-top: 52px;
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: -0.02em;
    color: #002433;
}

.low{
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: -0.02em;
    color: #002433;
}

.inside-dollar{
    margin-left: 26%;
    margin-top: -12px;
}

.laptop-image{
    margin-left: 25.7%;
    margin-top: -37px;
}

.second-section{
    position: absolute;
    margin-top: 45%;
    width: 100%;
    background: linear-gradient(180deg, #F0FAFF -20%, #F5FCFF 0.75%, #FFFFFF 78.04%);
    height: 500%;
}

.last-service-name{
    margin-left: 65%;
    margin-top: 12px;
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: -0.03em;
    color: #002433;
}

.black-box{
    margin-left: 65%;
}

.bank-image{
    margin-top: 20%;
    margin-left: 120%;
}

.box-image{
    margin-left: 63%;
    margin-top: -3%;
}

.small-image{
    margin-left: 38%;
    margin-top: -21%;
}
.woman-with-a-glass{
    margin-left: 62%;
    margin-top: -17%;
}

.pos-image{
    margin-top: -17%;
    margin-left: 25%;
}

.right-paragraph{
    margin-left: 49%;
    margin-top: 11%;
}

.move-center-image{
    margin-left: 41%;
    margin-top: 1%;
    width: 410px;
    height: 495px;
}

.dollar{
    margin-left: 26.2%;
    margin-top: -1%;
}

.light-blue{
    margin-left: 25%;
    margin-top: 2%;
}

.green-image{
    margin-top: -59%;
    margin-left: 129%;
    clip: rect(0px,51px, 45px,0px);
}

.next-line{
    margin-left:41%;
    margin-top: 6%;
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #012169;
}

.header{
    margin-left: 40%;
    margin-top: 4%;
    font-family: 'Gelion', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #012169;
}

.btn {
    margin-top: -10%;
    height: 60px;
    width: 200px;
    cursor: pointer;
    color: white;
    background-color: #b9d9ee;
    border-radius: 15px;
}

.btn-get-started {
    margin-top: -10%;
    height: 60px;
    width: 200px;
    cursor: pointer;
    color: white;
    background-color: #2a96dc;
    border-radius: 6px;
}

.b-logo{
    position: absolute;
    margin-top: -20px;
    margin-left: -25%;
}

.link-nav{
    margin-left: 50px;
    gap: 70px;
    display: inline-flex;
}

.log-in{
    border-radius: 20px;
}